#Git commits
.git
.github

#Environment
.venv_students/
.venv/
venv/

#Notebooks
notebooks/
models_notebooks/

#Datasets
data/

#Environment variables (opt)
.env
.env.*

#Python
__pycache__/
*.pyc

#Jupyter
.ipynb_checkpoints/